$bg: #ccc;
.carousel {
    font-family: helvetica,sans-serif;
    font-size: 14px;
    width: 200px;
    position: relative;
    margin: 1em;
    border: 1px solid $bg;
    box-shadow: 2px 2px 10px $bg;
    overflow: hidden;
    height: 215px;
    margin: auto;

    .carousel-inner {
        margin: 0;
        padding: 0;
        li {
            font-size: 100px;
            margin: 0;
            padding: 0;
            width: 100%;
            list-style: none;
            text-align: center;
            z-index: 2;
            position: absolute;
            opacity: 0;
            transform: translateX(100%);
            -ms-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transition: transform 10s ease-in-out;
            img {
                display: block;
                margin: auto;
            }
            &.current {
                opacity: 1;
                transform: translateX(0);
                -webkit-transform: translateX(0);
                -webkit-transform: translateX(0);
                transition: transform 1s ease-in-out;
            }
        }
    }
}

.carousel button {
    border: none;
    visibility: hidden;
}
.active button {
    visibility: visible;
}